.boton-contenedor {
    height: 83px;
    display: flex;
    /*1 1 para expandirse equitativamente tanto vertivcal como horizonalmente*/
    flex:1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #303841;
    color: white;
    border-radius: 25px;
    border: 2px solid black;
    margin: 4px;
    cursor: pointer;
   
}

.boton-contenedor:hover{
    background-color: #B088F9;

}

.operador{
    background-color: #B088F9;

}

.operador:hover{
    background-color: #98ACF8;
}